<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link href="./bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="./bootstrap.min.js"></script>
    <script src="./ajax.min.js"></script>
    <link href="./login.css" rel="stylesheet" id="lais-stylesheet">
    <title>NOTIFICATION :: Login</title>
</head>

<body class="background" id="LoginForm">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 mx-auto mt-5 mb-5">
                <div class="login-form">
                    <div class="card p-5">
                        <div class="">
                            <img src="logo.png" width="300" height="150" class="img-thumbnail img-responsive">
                            <h2>Password Reset</h2>
                            <p id="regMsg">Please enter the email you used to register</p>
                        </div>
                        <form id="Login" autocomplete="off" method="POST">
                            <div class="form-group mail">
                                <input type="email" autocomplete="off" minlength="3" class="form-control" name="email"
                                    id="email" placeholder="Email" autocomplete="off" required>
                            </div>
                            <div class="form-group pwd">
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="New Password" autocomplete="off" required>
                            </div>
                            <div class="form-group pwd">
                                <input type="password" class="form-control" name="password1" id="password1"
                                    placeholder="Confirm Password" autocomplete="off" required>
                            </div>
                            <div class="registrationFormAlert" class="" id="CheckPasswordMatch"></div>
                            <div class="form-group cc">
                                <input type="text" minlength="5" maxlength="6" class="form-control" name="confirmCode"
                                    id="confirmCode" placeholder="Enter Confirm Code" autocomplete="off">
                            </div>
                            <div class="form-group mx-auto ">
                                <div class="row">
                                    <div class="col-sm-6 pwd">
                                        <button type="submit" class="btn btn-success btn-lg">Save</button>
                                    </div>
                                    <div id="findEmailBtn" class="col-sm-6">
                                        <a id="findEmail" class="btn btn-success btn-lg text-white">Find Account</a>
                                    </div>
                                    <div id="codeBtnSec" class="col-sm-6">
                                        <a id="codeBtn" class="btn btn-success btn-lg text-white">Submit Code</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="/login" class="btn btn-info btn-lg text-white">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div id="results">
                                <p id="status"></p>
                            </div>
                        </form>
                    </div>
                    <p class="botto-text p-2"> &copy; Smart Med</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        /* const checkOnlineStatus = async () => {
            try {
                const online = await fetch('https://nhisglobal.org/')
                console.log(online)
                console.log("Status check")
                return online.status >= 200 && online.status < 300;

            } catch (err) {
                return false // offline
            }

        }
        setInterval(async () => {
            const result = await checkOnlineStatus();
            const statusDisplay = document.getElementById("status");
            statusDisplay.textContent = result ? "Online" : "Offline"
        }, 3000)
        window.addEventListener("load", async (event) => {
            const statusDisplay = document.getElementById('status');
            statusDisplay.textContent = (await checkOnlineStatus()) ? "Online" : "Offline"
        })
        $.ajax({
            type: "GET",
            url: "https://nhisglobal.org",
            success: function (msg) {
                console.log(msg)
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
                if (textStatus == 'timeout') { console.log("Connection timeout") }
            }
        }); */
        $(
            function () {
                $(".pwd").hide();
                $(".cc").hide();
                $("#codeBtnSec").hide();
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    let username = $('#email').val();
                    let password = $('#password').val();
                    let formData = { username: username, password: password };
                    $.post("/forgotpassword", formData, function (data, status) {
                        if (data.resetPasswordResetSaved === true) {
                            $("#CheckPasswordMatch").html("Check your email for a Confirmation Code.");
                            $("#CheckPasswordMatch").addClass("text-info");
                            $(".pwd").hide(0);
                            $(".mail").hide(0);
                            $("#regMsg").hide(0);
                            $("#codeBtnSec").show();
                            $(".cc").show();
                        }
                    });
                });
                $('#codeBtn').on('click', function (e) {
                    e.preventDefault();
                    let username = $('#email').val();
                    let code = $('#confirmCode').val();
                    let formData = { username: username, code: code };
                    $.post("/forgotpasswordcode", formData, function (data, status) {
                        if (data.updated === true) {
                            $('#results').html('<div class="alert alert-success" role="alert"> Password Changed Successfully. You can now login with your new password.</div>');
                            window.location.href = '/';
                        }
                    });
                });
                $('#findEmail').on('click', function (e) {
                    let userEmail = $("#email").val();
                    $.get("/useremailCheck?useremail=" + userEmail, function (data, status) {
                        if (data.status !== true) {
                            $('#results').show();
                            $(".pwd").hide();
                            $('#results').html('<div class="alert alert-danger" role="alert"> User Not Found. \n Please Contact System Administrator</div>');
                        } else {
                            if (data.isOnline !== true) {
                                $('#results').show();
                                $(".pwd").hide();
                                $('#results').html('<div class="alert alert-danger" role="alert">You are currently working offline. \n Please Connect to the internet and try again or Contact System Administrator.</div>');

                            } else {
                                $('#email').prop('readonly', true);
                                $('#results').hide();
                                $(".pwd").show();
                                $("#findEmailBtn").hide();
                            }
                        }
                    });
                });
            });
    </script>
    <script>
        function checkPasswordMatch() {
            var password = $("#password").val();
            var confirmPassword = $("#password1").val();
            if (password != confirmPassword) {
                $("#CheckPasswordMatch").html("Passwords does not match!");
                $("#CheckPasswordMatch").addClass("text-danger");
            } else {
                $("#CheckPasswordMatch").html("Passwords match.");
                $("#CheckPasswordMatch").removeClass("text-danger");
                $("#CheckPasswordMatch").addClass("text-success");
            }
        }
        $(document).ready(function () {
            $("#password1").keyup(checkPasswordMatch);
        });
    </script>



</body>

</html>